body {
    /*background-image: url("http://images.hmara.tv/backgrounds/bg-hmara3.jpg");*/
    /*background-color: purple;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}